.label {
    display: block;
    position: relative;
    cursor: text;
}

.invalid-feedback {
    color: red;
    font: 400 14px / 1.2 $font;
    margin: 6px 0 0;
}

.iti {
    input {
        padding: 0 0 0 45px !important;
    }
    &__flag-container {
        padding: 0;
        bottom: unset;
        height: 48px;
    }
    &__flag {
        box-shadow: none;
        border-radius: 2px;
        flex-shrink: 0;
        overflow: hidden;
    }
    &__selected-flag {
        padding: 0;
    }
    &__arrow {
        border: 0;
        flex-shrink: 0;
        width: 8px;
        height: 8px;
        margin: 0 0 0 5px;
        fill: #fff;
        &--up {
            svg {
                transform: scaleY(-1);
            }
        }
        svg {
            width: 100%;
            height: 100%;
            transition: .3s $trans;
        }
    }
    &__country-list {
        font-size: 14px;
        box-shadow: 0 0 10px 0 rgba(#000, .1);
        border: 0;
        margin: 0;
        border-radius: 0 0 6px 6px;
        color: #000;
    }
}